/* src/components/Timetable.css */
.timetable-container {
  margin: 50px;
  padding: 50px;
  border: 2px solid #d4d4d4;
  border-radius: 18px;
  box-shadow: 0 0 20px rgba(146, 138, 138, 0.1);
  margin-top: 50px;
  max-width: 1300px;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.timetable-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.book-room-button {
  margin-left: auto;
  width: 350px;
}

.fc .fc-toolbar-title {
  font-size: 1.5em;
  font-weight: bold;
}

.fc .fc-button {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.fc .fc-button:hover {
  background-color: #0057b3a6;
}

/* src/components/Modal.css */
.modal .modal-dialog {
  max-width: 500px;
}

.modal .modal-content {
  padding: 20px;
}

.modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal .modal-body {
  padding: 20px;
}

.modal .modal-footer {
  display: flex;
  justify-content: space-between;
}
